.header__small-menu-btn {
  position: relative;
  width: 24px;
  height: 18px;
  background-color: #000;
  border: none;
  transition: opacity 1s ease 0s;
  padding: 0;
}

.header__small-menu-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 3px;
  background-color: #fff;
}

.header__small-menu-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 3px;
  background-color: #fff;
}

.header__small-menu-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
