.footer {
    max-width: 1280px;
    min-width: 320px;
    width: 100%;
    font-family: "Inter", Arial, sans-serif;
}

/* для центрирования копирайта на сломе*/
@media screen and (max-width: 899px) and (min-width: 321px) {
    .footer {
        display: flex;
    }
}
