.card__caption {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    max-width: calc(100% - 45px);
    color: black;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}