.authorization__link {
  margin-top: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  transition: opacity .3s ease 0s;
}

.authorization__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 879px) and (min-width: 321px) {
  .authorization__link {
    margin-top: 18px;
  }
}

@media screen and (max-width: 320px) {
  .authorization__link {
    margin-top: 20px;
  }
}
