.authorization__input {
  display: block;
  margin-top: 30px;
  background-color: transparent;
  width: 358px;
  min-height: 27px;
  padding-bottom: 13px;
  font-style: inherit;
  border: 0;
  border-bottom: 2px solid #ccc;
  color: #fff;
}

@media screen and (max-width: 879px) and (min-width: 321px) {
  .authorization__input {
      width: 310px;
  }
}

@media screen and (max-width: 320px) {
  .authorization__input {
      width: 260px;
  }
}