.popup {
    display: flex;
    align-items: center;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, .5);
    color: #000;
    font-family: "Inter", Arial, sans-serif;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: visibility 1s, opacity 1s;
}